#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Linux/$ARCH $KERNELVERSION Kernel Configuration"

config EXAMPLE_BOOL_VAR
	bool "Set a example bool variable"

config SRCARCH
	string "get value for SRCARCH"
	#option env="SRCARCH"

config JAVA_DIR
	string "get value for JAVA_DIR"
	# option env="PATH"
	


#source "prova/Kconfig"
