# http://www.gnu.org/software/automake

# Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

Makefile
config.log
config.status
kconfig/.deps/
kconfig/Makefile
kconfig/conf.o
kconfig/nconf-nconf.gui.o
kconfig/nconf-nconf.o
kconfig/zconf.tab.o

COPYING
INSTALL
configure
Makefile.in
kconfig/Makefile.in


